@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-color: #0A192F;
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    font-family: 'Roboto Mono';font-size: 22px;
    
}



.navbar {
    display: flex;
    justify-content: center;
    align-items: none;
}
.navbar img {
    border-radius: 25px;
    max-width: 40px;
    margin-top: 20px;
    margin-right: 500px;
}
.navbar ul {
    display: flex;
    list-style: none; 
}

.navbar ul li a {
    color: white;
    padding: 8px 10px;
   text-decoration: none; 

} 


.navbar span{
color: #B28C2A;
font-style: bold;

}


.main h1 {
    margin-left: 172px;
    margin-top: 200px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15PX;

}
h2 {
    font-size: 45PX;
    color: white;
    margin-left: 180px;
    margin-top: 0px;
    
}
h3 {
    margin-left: 180px;
    margin-top: 1px;
    color: #C9A0A0;
    column-width: 15cm;
    text-decoration: none;
    font-size: 16px;
}
.btn {
    margin-left: 172px;
    background-color: transparent;
    color: #87A1FD;
    border: 1px solid #87A1FD;
    border-radius: 15px;
}
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0A192F;
    color: white;
    text-align: center;
  }
  .footer p{
      margin-left: 1000px;
      display: flex;
      margin-bottom: 0px;
  }
  .icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  #home  img{
    text-align: center;
    margin-left: 900px;
   
    max-width:  300px;
    margin-top: -380px;
    
  }
 

/* about */

/*
h5 
{
    text-align: center;
    margin-right: 240px;
    color: #ffff;
}
*/
.hero {
    height: 100%;
    width: 100%;
    background-color: #0A192F;
    background-position: center;
    background-size: cover;
    position: center;
}
.form-box{
    width: 380px;
    height: 480px;
    position: center;
    margin: 65 auto;
    margin-left: 30%;
    background: #0A192F;
    padding: 5%;
}
h4{
    text-align: center;
    color: rgb(3, 3, 3);
   /* margin-top: 100px; */
    font-size: 40px;
   
}
.input-group
{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
    margin-top: 06%;
    columns: 200px;

}
.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 15px 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #87A1FD;
    border-top: transparent;
    outline: none;
    background: transparent;
}
 .submit-btn {
     width: 85%;
     padding: 10px 30px;
     cursor: pointer;
     display: block;
     margin: auto;
     background: transparent;
     border-color: #87A1FD;
     border-radius: 5px;
     margin-top: 35px;
     size: -90ch;
  
     margin-top: 20%;
     
 }

 .chech-box{
     margin:30px 10px 30px 0;
 }
 span {
     columns: 50px;
     color: #758FEF;
 }
 h5{
     font-size: small;
     bottom: 30px;
     position: relative
 }
 h6 {
     margin-bottom: 5200px;
 }